<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Vítor Marçal - By day, a simple software developer. By night, also a software developer." />
        <meta name="keywords" content="software, developer, programmer, Vítor Marçal, personal page" />
        <meta name="author" content="Vítor Marçal" />
        <title>Vítor Marçal</title>
        <link rel="stylesheet" href="css/style.css" />
        <link rel="shortcut icon" href="images/favicon.png" />
    </head>
    <body>

        <header>

            <nav>
                <ul>
                    <li><a href="index.html" title="Vá para página inicial">Home</a></li>
                    <li><a href="#" title="Vá para a página de projetos">Projetos</a></li>
                    <li><a href="#" title="Vá para o blog">Blog</a></li>
                </ul>
            </nav>
            <div>
                    <h1>Olá, eu sou Vítor Marçal.</h1>
                    <h2>Seja bem vindo!</h2>
                    <img src="images/vtormarcal.svg"  title="Oi, eu sou Vítor!" alt="Vítor Marçal, page author, profile picture">
                    <div class="follow-icons">
                        <a href="https://github.com/vitormarcal" title="Meu Github" target="_blank"> 
                            <img src="images/github-logo.svg" alt="Github author"/>
                        </a>
                        <a href="https://www.linkedin.com/in/vitormarcal" title="Meu LinkedIn" target="_blank"> 
                            <img src="images/linkedin-logo.svg" alt="LinkedIn author"/>
                        </a>
                    </div>
            </div>
            
        </header>

        <section>
            <article>
                <h3>Sobre</h3>
                <p>Atualmente estou trabalhando como Desenvolvedor Sênior na Câmara dos Deputados do Brasil.</p>
                <p>Veja meu <a href="https://www.linkedin.com/in/vitormarcal" target="_blank" title="">histórico de trabalho no LinkedIn.</a></p>
                <p>Se você precisa de ajuda em construir seu site ou serviço, automatização de processos ou precisa de tutoria em 
                    <b>Java</b>,<b>Spring Framework</b>,<b>Banco de Dados</b>,<b>JavaScript</b> etc você veio ao lugar certo!</p>
                <h3>Serviços</h3>
                <h4>Desenvolvimento Back-End</h4>
                <p>O Back End Development é o contrarregra por trás de uma interface gráfica.
                    Usando linguagens de programação como Java, Node ou Python, fornecerei soluções escaláveis e otimizadas para energizar seu negócio.</p>
                <h4>Desenvolvimento Front-End</h4>
                <p>O Front End Development constrói os componentes visuais de um website. Usando HTML, CSS e Javascript, eu construo sites rápidos e
                     interativos. Isso também pode incluir a integração de um CMS.</p>
            </article>


        </section>

        <section class="mailme">
            <h1>Deseja entrar em contato? Envia-me um email.</h1>
            <a href="mailto:vitormarcal8@gmail.com" title="Email me" target="_blank">
                <img src="images/mailme.svg"  alt="Email me "/>
            </a>
        </section>

        <footer>
            <p>© 2019 vitormarcal.com. All rights reserved.</p>
        </footer>

    </body>
</html>